html{
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background: linear-gradient(55deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,p{
    margin: 0 0 1em;
}


.navbar {
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(71, 63, 63, 0.274) 10% , rgba(255, 255, 255, 0) 90%);
}

.brandName {
    margin-left: 5%;
    font-family: 'Syncopate', sans-serif;
    font-size: 2em;
}

.navbarList {
    margin-left: 5%;
    display: flex;
}

.navbarItems {
    list-style: none;
    margin: 0 15%;
    font-family: 'Montserrat', sans-serif;
}

.heading {
    margin-top: 13.5vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    text-align: center;
}

.clipboard {
    width: 40vw;
    height: 4vh;
    margin-top: 7vh;
    margin-left: 30vw;
    margin-right: 30vw;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    font-size: 1.25em;
}

.clipboard:focus {
    color: #212529;
    background-color: #fff;
    outline: 0;
    animation: animationForFocus;
    animation-duration: 0.25s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.btnWrapper{
    margin-top:0.5vh;
    display: flex;
    /* align-items: center; */
    justify-content:center;
}
.anim-btn {
	width: max-content;
	position: relative;
	overflow: hidden;
}

.anim-btn__button {
	padding: 16px 32px 13px;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #534e4a;
	color: #2e2d2c;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	transition: color 300ms ease, transform 300ms ease;
}

	.anim-btn__button:hover,
	.anim-btn__button:focus {
		color: #fff;
		cursor: pointer;
	}

	.anim-btn__button:hover + .anim-btn__overlay,
	.anim-btn__button:focus + .anim-btn__overlay {
		transform: translateY(calc(-100% + 2px));
	}

	.anim-btn__button:active {
		transform: scale(0.8);
	}

	.anim-btn__button:active + .anim-btn__overlay {
		transform: translateY(calc(-100% + 2px)) scale(0.8);
	}

.anim-btn__overlay {
	background-color: #534e4a;
	height: calc(100% + 2px);
	width: 100%;
	position: absolute;
	bottom: calc(-100% - 2px);
	left: 0;
	z-index: -1;
	transition: transform 300ms ease;
}